.wrapper {
  display: flex;
  align-items: stretch;
  background-color: var(--light-gray);
  border-radius: 10px;
  margin-left: 20px;
  justify-content: space-between;
  cursor: pointer;
  height: 100%;
}

.wrapper:hover {
  background-color: var(--gray-hover);
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  word-wrap: anywhere;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px;
  width: 100%;
  text-align: left;
}

input[type="checkbox"] {
  vertical-align: center;
  appearance: none;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

input[type="checkbox"]:checked {
  background-color: #b7ff4c;
}

:host:hover input[type="checkbox"] {
  background-color: #9cc7ff;
}

input[type="checkbox"]:checked::after {
  border: 2px solid black;
  display: inline-block;
  border-top: none;
  border-right: none;
  content: "";
  height: 7px;
  left: 5px;
  opacity: 1;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 12px;
  z-index: 10;
}

button {
  height: 100%;
  border-radius: 0 10px 10px 10px;
}


@media screen and (max-width: 600px) {
  :host {
    flex-direction: column;
  }
}

p {
  font-size: 10px;
  padding: 3px;
  margin: 0 0 0 25px;
  font-weight: 500;
  text-align: right;
}
