:host {
  display: flex;
  align-items: stretch;
  background-color: #e8e6e2;
  border-radius: 10px;
  margin-left: 20px;
  min-width: 50%;
  justify-content: space-between;
  cursor: pointer;
}

:host:hover {
  background-color: #cac8c5;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  word-wrap: anywhere;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px;
}

input[type="checkbox"] {
  vertical-align: center;
  appearance: none;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

input[type="checkbox"]:checked {
  background-color: #b7ff4c;
}

input[type="checkbox"]:hover {
  background-color: #9cc7ff;
}

input[type="checkbox"]:checked::after {
  border: 2px solid black;
  display: inline-block;
  border-top: none;
  border-right: none;
  content: "";
  height: 7px;
  left: 5px;
  opacity: 1;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 12px;
  z-index: 10;
}

button {
  height: 100%;
  border-radius: 0 10px 0 10px;
}


@media screen and (max-width: 600px) {
  :host {
    flex-direction: column;
  }
}
