<div class="item">
  <h2>Do zrobienia</h2>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of list | isDone:false">
      <app-todo-item [todoItem]="item" (remove)="onRemove(item)" (checked)="onCheck(item)"></app-todo-item>
    </mat-list-item>
  </mat-list>
</div>

<div class="item">
  <h2>Zrobione</h2>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of list | isDone:true">
      <app-todo-item [todoItem]="item" (remove)="onRemove(item)" (checked)="onCheck(item)"></app-todo-item>
    </mat-list-item>
  </mat-list>
</div>
